@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0.9),
            rgba(0, 0, 0, 0.9)), url("../public/hero.jpg");
}


.no-scrollbar::-webkit-scrollbar {
    display: none; /* Oculta la barra de scroll en navegadores basados en Webkit */
    }
  
.no-scrollbar {
    -ms-overflow-style: none; /* Oculta la barra de scroll en IE y Edge */
    scrollbar-width: none; /* Oculta la barra de scroll en Firefox */
}
  